@charset "UTF-8";
/* CSS Document */

body {
	font-size: 20px;
	background-color: black;
	color: white;
	font-family: "bungee hairline",sans-serif;
	 
}

body a {
	text-decoration: none;
	color: white;
}

.grid__column-12,
.grid__column-11,
.grid__column-10,
.grid__column-9,
.grid__column-8,
.grid__column-7,
.grid__column-6,
.grid__column-5,
.grid__column-4,
.grid__column-3,
.grid__column-2,
.grid__column-1 {
    background-color: transparent;
}

.grid__column-4{
	background-color: transparent;
}

.grid__column-3 {
		font-size: 2em;
}

 h1 {
	padding-top:10px;
 }

 .header img {
	 width: 100%;
 }

#creator img {
	padding-bottom: 17px;
}

#cta img {
	padding-bottom: 90px;
}



.cirkel {
	text-align: center; 
	padding: 53px;
	border: 3px solid white;
    border-radius: 100px;
    width: 200px;
    height: 200px; 	
}



#main-navigation {
	font-family: "bungee",sans-serif;
	
}

#filo {
	padding-top: 90px;
}

#klik {
	text-align: center;
	position:relative; top: 30px;
	padding-bottom: 10px;
	padding-top: 30px;
}



#adres {
	border: 3px solid white;
    border-radius: 100px;
    margin-right: 728px;
    padding: 36px;
    width: 254px;
    height: 164px;
	text-align: center; 
	position:relative; left: 1010px; bottom: 250px;
}

#nr{
	border: 3px solid white;
    border-radius: 100px;
    margin-right: 728px;
    padding: 24px;
    width: 288px;
    height: 181px;
    text-align: center;
	position: relative; left: 870px;bottom: 600px;
}

#email {
	border: 3px solid white;
    border-radius: 100px;
    margin-right: 728px;
    padding: 17px;
    width: 361px;
    height: 90px;
	text-align: center; 
	position: relative; left: 700px; bottom: 630px;
}

#overons {
	position: relative; top:100px;right:45px;
}

#filos {
	text-align: center;
}



.portitem img {
	width: 120%;
}

.porttitel{
	position:relative; left:100px;
}

.portitem1 img {
	width: 120%;
}

#camp  {
	position: relative; left: 360px;
}

#dru {
	position: relative; left: 500px;
}


h3 {
	position:relative; left: 180px;
}

#groepsfoto img {
	width: 100%;
	position:relative; left:50px;
}

.teamlid img {
	width:100%;
}

#irja img{
	position:relative; left: 230px;
}

#laura img {
	position: relative; left: 250px;
}



#youtube img {
	position:relative;
	bottom:1200px;
	left:1200px;
}

#facebook {
	position:relative;
	bottom:1250px;
	left:1200px;
}

#pinterest {
	position:relative;
	bottom:1147px;
	left:1055px;

}

#twitter {

	position:relative;
	bottom:1044px;
	left:910px;
	
}


input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color:grey;
    color:black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color:dimgray;
}

.formulier {
    border-radius: 5px;
    background-color:black;
    padding: 20px;
}

#invul {
	position:relative;
	bottom:800px;
}




