body {
  font-family: 'bungee-hairline', sans-serif;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  line-height: 1.42;
}

h1 {
  font-family: 'bungee', sans-serif;
  font-size: 30px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.42;
  width: 100%; 
	margin: auto; 
	text-align: center; 
	padding-bottom: 30px;
	padding-top: 50px;
}

h2, h3, h4, h5, h6 {
  font-family: 'bungee', sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.42;
}